<div ng-controller="CourseDetailController" data-ng-init="load()">
    <section id="main__content">
        <div class="action-header-alt">
            <div class="col col-md-3">
                <a href="" class="top-nav__back reBack" style="top:10px;" ng-click="back()" title="返回"></a>
            </div>

            <div class="col col-md-2 pull-right">
                <button type="submit" class="btn btn-primary" style="float: right;" ng-show="edit">保存</button>
                <button type="submit" class="btn btn" style="float: right;" ng-click="edit=!edit">{{edit?'取消':'编辑'}}</button>
            </div>
        </div>


        <div class="main__container" >
            <header class="main__title">
                <h1 style="font-family: '黑体'">球场明细</h1>
            </header>
            <div class="card">
                <form class="card new-contact" style="margin-bottom: 0px;">
                    <!-- <div class="new-contact__img">
                        <img ng-src="{{currentStaff.Head}}" alt="" onerror="this.src='../img/user_empty.png'">
                        <i class="new-contact__upload zmdi zmdi-camera" ngf-select ngf-change="upload($files)"></i>
                        <i class="new-contact__upload zmdi zmdi-camera"  href="#update-to-head" data-toggle="modal" data-dismiss="modal" ></i>
                    </div> -->
                    <!-- Gallery -->
                    <div class="detail-media" style="z-index:0">
                        <div class="tab-content">

                            <!-- 球场图片 -->
                            <div class="tab-pane fade in active light-gallery" lightgallery  id="detail-media-images">
                                <!-- <a href="{{photo.fullres}}" ng-repeat="photo in photos">
                                    <img ng-src="{{photo.fullres}}" onerror="this.src='../img/demo/listing/16.jpg'" alt="">
                                </a> -->
                                <a href="http://upload-images.jianshu.io/upload_images/117091-9ec954a80edd3e7d.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
                                    <img src="http://upload-images.jianshu.io/upload_images/117091-9ec954a80edd3e7d.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt="">
                                </a>
                                <a href="../img/demo/listing/1.jpg">
                                    <img src="../img/demo/listing/thumbs/1.jpg" alt="">
                                </a>
                                <a href="../img/demo/listing/2.jpg">
                                    <img src="../img/demo/listing/thumbs/2.jpg" alt="">
                                </a>
                                <a href="../img/demo/listing/3.jpg">
                                    <img src="../img/demo/listing/thumbs/3.jpg" alt="">
                                </a>
                                <a href="../img/demo/listing/4.jpg">
                                    <img src="../img/demo/listing/thumbs/4.jpg" alt="">
                                </a>
                            </div>

                            <!-- 球场地图 -->
                            <div class="tab-pane fade light-gallery" id="detail-media-floorplan">
                                <a href="../img/examples/rsz_boonegolfclub_map.jpg">
                                    <img src="../img/examples/rsz_boonegolfclub_map.jpg" alt="球场地图">
                                </a>
                            </div>

                            <!-- 球场所在地 -->
                            <div class="tab-pane fade" id="detail-media-map">
                                <a href="../img/examples/rsz_agiarylocation.jpg">
                                    <img src="../img/examples/rsz_agiarylocation.jpg" alt="球场所在地">
                                </a>
                            </div>
                        </div>

                        <!-- Gallery Icons -->
                        <ul class="detail-media__nav hidden-print">
                            <li class="active"><a href="#detail-media-images" data-toggle="tab"><i class="zmdi zmdi-collection-image"></i></a></li>
                            <li><a href="#detail-media-floorplan" data-toggle="tab"><i class="zmdi zmdi-map"></i></a></li>
                            <li><a href="#detail-media-map" data-toggle="tab"><i class="zmdi zmdi-pin"></i></a></li>
                        </ul>
                    </div>

                    <div class="card__body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="club_label">球场名称</label> <input type="text" ng-disabled="!edit"
                                                                                  ng-model="currentClub.ClubName" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="club_label">球场模式</label>
                                    <input type="text" ng-model="currentClub.Mode" ng-disabled="!edit" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="club_label">球场数据</label>
                                    <div class="row">
                                        <div class="col col-sm-6">
                                            <input type="text" ng-model="currentClub.TotalHole" ng-disabled="!edit" class="form-control" placeholder="球洞数" title="球洞数" maxlength="3">
                                        </div>
                                        <div class="col col-sm-6">
                                            <input type="text"  ng-model="currentClub.TotalStemNum" ng-disabled="!edit" class="form-control" placeholder="总杆数" title="总杆数" maxlength="3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="club_label">建立时间</label>
                                    <input type="date" ng-model="currentClub.CreateTime" ng-disabled="!edit" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="club_label">联系电话</label>
                                    <input type="text" ng-model="currentClub.PhoneNum" ng-disabled="!edit" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="club_label">设计师</label>
                                    <input type="text" ng-model="currentClub.Stylist" ng-disabled="!edit" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="club_label">球场面积</label>
                                    <input type="text" ng-model="currentClub.Area" ng-disabled="!edit" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="club_label">球场长度</label>
                                    <input type="text" ng-model="currentClub.Length" ng-disabled="!edit" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="club_label">果岭草种</label>
                                    <input type="text" ng-model="currentClub.PuttingSeed" ng-disabled="!edit" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="club_label">球道草种</label>
                                    <input type="text" ng-model="currentClub.FairwaySeed" ng-disabled="!edit" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="club_label">球场地址</label>
                                    <input type="text" ng-model="currentClub.Address" ng-disabled="!edit" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row facility_list">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="club_label">球场设施</label>
                                    <ul class="detail-amenities__list">
                                        <li class="mdc-bg-light-blue-500">会所</li>
                                        <li class="mdc-bg-light-blue-500">厕所</li>
                                        <li class="mdc-bg-light-blue-500">派出所</li>
                                        <li style="padding: 0" title="增删设施" ng-show="edit" href="#addFac" data-toggle="modal">
                                            <div class="facility_add">
                                                <a class="mdc-bg-indigo-100"><i class="fa fa-plus fa-2x"></i></a>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                        <div class="row ">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="club_label">球场简介</label>
                                    <textarea rows="8" cols="1"  ng-model="currentClub.Intro" class="form-control" ng-disabled="!edit" style="font-size: 16px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card">

                <div class="card__header">
                    <h1><span class="black">球道详情</span></h1>
                </div>

                <div class="card__body">
                    <div class="row">
                        <div class="col col-sm-2">
                            <h3>1号球场</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="modal fade" id="addFac" data-backdrop="static"
         data-keyboard="false" style="font-family: '黑体'; color: #000;">
        <div class="modal-dialog" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <a href="" class="mdc-text-indigo-A100 pull-right" style="font-size:15px;fon" data-dismiss="modal"
                    aria-hidden="true">&times;</a> -->
                    <h4 class="modal-title">增删设施</h4>
                </div>
                <div class="modal-body">
                    <form class="new-contact">
                        <div class="form-group">
                            <label>新增设施</label>
                            <input type="text" class="form-control" ng-model="facility">
                        </div>
                        <div class="form-group">
                            <small>双击删除设施</small>
                            <ul class="detail-amenities__list">
                                <li class="mdc-bg-light-blue-500" ng-repeat="fac in Facs"><a href="" ng-dblclick="removeFac(fac)">{{fac}}</a></li>
                            </ul>
                        </div>

                    </form>
                </div>
                <div class="modal-footer" style="padding: 0 30px 10px;">
                    <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="changepwd()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>