<div ng-controller="StaffController" data-ng-init="load()">
	<div page-loader is-loading="true"></div>
	<section id="main__content">
		<div class="action-header-alt">
			<div class="action-header__item action-header__item--search">
				<form>
					<input type="text" placeholder="Search for contacts..."
						ng-model="keyword" ng-change="getStaffs()">
				</form>
			</div>

			<div class="action-header__item action-header__add">
				<a href="#update-to-staff" data-toggle="modal"
					class="btn btn-danger btn-sm" ng-click="addStaff()">新建人员</a>
			</div>

			<!-- <div class="action-header__item action-header__item--sort hidden-xs">
				<span class="action-header__small">Sort by :</span> <select
					ui-select
					style="min-width: 180px; width: auto; position: relative;">
					<option>Names: A to Z</option>
					<option>Names: Z to A</option>
					<option>Frequently Contacted</option>
				</select>
			</div> -->
		</div>

		<div class="main__container">
			<header class="main__title">
				<h1 style="font-family: '黑体'">管理员</h1>
			</header>

			<div class="row">
				<div class="col-md-12">
					<div class="list-group list-group--block contact-lists">
						<div class="list-group__header text-left">共{{TotalStaff}}名工作人员
						</div>


						<div class="list-group__wrap" ng-repeat="staff in Staffs">
							<a class="list-group-item media" href="#view-contact"
								data-toggle="modal" ng-click="edit(staff)">
								<div class="pull-left" ng-if="staff.Head != undefined">
									<!-- <div class="avatar-char mdc-bg-amber-400">T</div> -->
									<img ng-src="{{staff.Head}}" class="list-group__img img-circle"
										width="80" height="80" alt="" err-src="../img/user_empty.png">
								</div>
								
								<div class="media-body list-group__text"
									style="font-family: '黑体'">
									<div class="row">
										<div class="col col-md-2">
											<i class="fa fa-user" aria-hidden="true"></i> <strong>{{staff.StaffName}}</strong>
										</div>
										<div class="col col-md-2">
											<i class="fa fa-briefcase" aria-hidden="true"></i> <strong>{{staff.Position}}</strong>
										</div>
										<div class="col col-md-4">
											<i class="fa fa-phone" aria-hidden="true"></i> <strong>{{staff.Phone}}</strong>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col col-md-8">
											<i class="fa fa-qq" aria-hidden="true"></i> <strong>{{staff.WorkPlace}}</strong>
										</div>
										
									</div>
								</div>
							</a>
							<div class="actions list-group__actions">
								<div class="dropdown">
									<a href="" data-toggle="dropdown"><i
										class="zmdi zmdi-more-vert"></i></a>
									<ul class="dropdown-menu pull-right">
										<li><a href="#update-to-staff" data-toggle="modal"
											ng-click="edit(staff)">修改</a></li>
										<li><a ng-click="deleteStaff(staff)">删除</a></li>
									</ul>
								</div>
							</div>
							<div class="list-group__date">
								<i class="fa fa-calendar" aria-hidden="true"></i> <strong>{{CurrentDT(staff.Created_TS)}}</strong>
								<!-- <strong>{{item.Created_TS}}</strong> -->
							</div>
						</div>
					</div>
					<div class="load-more">
						<a href=""  ng-click="loading()"><i ng-if="loadMore===true" class="zmdi zmdi-refresh-alt"></i> {{loadMore===true?'加载更多':'没有更多了'}}</a>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- View Contact -->
	<div class="modal fade" id="view-contact" data-keyboard="false" style="font-family: '黑体'">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body text-center">
					<div class="view-contact__img">
						<img ng-src="{{currentStaff.Head}}" err-src="../img/user_empty.png" 
							class="img-circle" width="150" height="150"  alt="">
					</div>
					<table class="table table-bordered table-hover table_wrap">
						<tr><th width="25%">姓名</th><td>{{currentStaff.StaffName}}</td></tr>
						<tr><th width="25%">账号</th><td>{{currentStaff.StaffID}}</td></tr>
						<tr><th width="25%">手机号码</th><td>{{currentStaff.Phone}}</td></tr>
						<tr><th width="25%">职位</th><td>{{currentStaff.Position}}</td></tr>
						<tr><th width="25%">工作地点</th><td>{{currentStaff.WorkPlace}}</td></tr>
					</table>
					<div class="load-more">
						<a href="#update-to-staff" data-toggle="modal" data-dismiss="modal" ng-click="edit(currentStaff)">修改详情</a>
					</div>
				</div>

				<div class="modal-footer text-center modal-footer--bordered">
					<button type="button" class="btn btn-link" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<!-- update-to-head modal -->
	<div class="modal fade" id="update-to-head" data-backdrop="static"
		data-keyboard="false" style="font-family: '黑体'; font: #000;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#update-to-staff" class="top-nav__back" data-toggle="modal" data-dismiss="modal"></a>
					<h4 class="modal-title">剪切图片</h4>
				</div>
				<div class="modal-body">
				<div>Select an image file: <input type="file" id="fileInput" /></div>
					<div class="row">
						<div class="col col-md-7">
							<div class="cropArea">
								<img-crop image="staffImage" result-image="staffCroppedImage" 
								area-type="square"  area-details="cropDetails"></img-crop>
							</div>
						</div>
						<div class="col col-md-5"> 
							<div class="cropArea_Croped ">
								<img ng-src="{{staffCroppedImage}}">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" style="padding: 0 30px 10px;">
					<button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" href="#update-to-staff" 
					 data-toggle="modal"  ng-click="imgSave(staffCroppedImage)">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End modal -->

	<!-- Add to group modal -->
	<div class="modal fade" id="update-to-staff" data-backdrop="static"
		data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">修改员工</h4>
				</div>
				<div class="modal-body">
					<form class="card new-contact" style="margin-bottom: 0px;">
						<div class="new-contact__img">
							<img ng-src="{{currentStaff.Head}}" alt="" err-src="../img/user_empty.png"> 
							<!-- <i class="new-contact__upload zmdi zmdi-camera" ngf-select ngf-change="upload($files)"></i> -->
							<i class="new-contact__upload zmdi zmdi-camera"  href="#update-to-head" data-toggle="modal" data-dismiss="modal" ></i>
						</div>

						<div class="card__body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>姓名</label> <input type="text"
											ng-model="currentStaff.StaffName" class="form-control">
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label>账号</label> <input type="text"
											ng-model="currentStaff.StaffID" class="form-control">
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label>密码</label> <input type="password"
											ng-model="currentStaff.Password" class="form-control">
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label>确认密码</label> <input type="password"
											ng-model="currentStaff.Password2" class="form-control">
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label>手机号码</label> <input type="text"
											ng-model="currentStaff.Phone" class="form-control" maxlength='11'>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label>职位</label> <select ng-model="currentStaff.Position"
											class="form-control" required>
											 <option value="店员">店员</option>
											<option value="管理员">管理员</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label>工作地点</label>
								<!--<select class="form-control"-->
									<!--ng-model="currentStaff.WorkPlace"-->
									<!--ng-options="work.workPlace as work.workPlace for work in Works"-->
									<!--required></select>-->
								<select ng-model="currentStaff.WorkPlace" class="form-control"
										ng-options="club.ClubName as club.ClubName for club in clubList" required>
									<option value="" selected="selected">请选择工作地点</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer" style="padding: 0 30px 10px;">
					<button type="button" class="btn btn-link" data-dismiss="modal" ng-click="load()">取消</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">保存</button>
				</div>
			</div>
		</div>
	</div>
</div>
