<div ng-controller="DataController" data-ng-init="load()">
	<div page-loader is-loading="true"></div>
	    <div class="action-header-alt">
	        <div class="action-header__item action-header__item--search">
	            <form>
	                <input type="text" placeholder="Search for contacts..." ng-model="searchWord">
	            </form>
	        </div>
	
	        <div class="action-header__item action-header__add">
	            <a href="" class="btn btn-danger btn-sm" ng-click="addFee()">新增配置</a>
	        </div>
	    </div>
	
	    <div class="main__container" style="max-width: 1600px;">
	        <header class="main__title">
	            <h1 style="font-family: '黑体'">数据配置</h1>
	        </header>
			<div class="card">
				<div class="card new-contact">
					<div class="card__body">
						<div style="width: 233px;">
							<div class="panel panel-default">
							    <div class="panel-heading">
							        <h3 class="panel-title">
						        		  {{PhotoTitle}}
							        </h3>
							    </div>
							    <div class="panel-body">
						    	  	<a href="" >
										<img alt="" ng-src="{{HeadPhoto}}" class="cropArea_Croped" onerror="this.src='../img/user_empty.png'">
									</a>
							    </div>
							    <div class="panel-footer">
							    	<button class="btn btn-success" href="#update-to-head" data-toggle="modal" style="margin: 0 0 0 60px;">设置图片</button>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<!-- <table class="table table-bordered table-hover table_wrapp">
					<thead>
						<tr>
							<th width="20%">Key</th>
							<th width="20%">数据名称</th>
							<th width="40%">Value</th>
							<th width="20%"></th>
						</tr>
					</thead>
					<tbody ng-repeat="data in Datas|filter:searchWord" >
						<tr>
							<td width="20%">{{data.KEY}}</td>
							<td width="20%">{{data.Describe}}</td>
							<td class="text_nowrap" width="40%">{{data.VALUE}}</td>
							<td width="20%">
								<button type="button" class="btn btn-success">修改</button>
								<button type="button" class="btn btn-danger">删除</button>
							</td>
						</tr>
					</tbody>
				</table> -->
			</div>
	    </div>
    </section>
    
    <!-- Update headPhoto modal -->
    <div class="modal fade" id="update-to-head" data-backdrop="static"
		data-keyboard="false" style="font-family: '黑体'; font: #000;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">剪切图片</h4>
				</div>
				<div class="modal-body">
				<div>Select an image file: <input type="file" id="fileInput" /></div>
					<div class="row">
						<div class="col col-md-7">
							<div class="cropArea">
								<img-crop image="Image" result-image="CroppedImage" 
								area-type="square"  area-details="cropDetails"></img-crop>
							</div>
						</div>
						<div class="col col-md-5"> 
							<div class="cropArea_Croped ">
								<img ng-src="{{CroppedImage}}">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" style="padding: 0 30px 10px;">
					<button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" href="#update-to-staff" 
					 data-toggle="modal"  ng-click="imgSave(CroppedImage)">保存</button>
				</div>
			</div>
		</div>
	</div>
</div>