<div ng-controller="MyDatePickerController" data-ng-init="load()">
    <div page-loader is-loading="true"></div>
    <div class="row">
        <div style="display:inline-block; min-height:290px;">
            <div uib-datepicker ng-model="DateTime" class="well well-sm" datepicker-options="options" ng-change="checkDT()"></div>
        </div>
        <p class="input-group">
            <input type="text" readonly class="form-control" uib-datepicker-popup="{{format}}" ng-model="DateTime"
                   is-open="status.dateTimeOpen" datepicker-options="options" close-text="关闭" ng-change="checkDT()" current-text="今天">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="IsOpen(2)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div class="row">
        <pre>Selected date is: <em>{{DateTime | date:'fullDate' }}</em></pre>
    </div>
</div>