<div ng-controller="CommentController">
	<section id="main__content">
           <div class="action-header-alt">
               <div class="action-header__item action-header__item--search">
                   <form>
                       <input type="text" placeholder="Search activity log...">
                   </form>
               </div>
               <div class="action-header__item action-header__add">
               </div>
           </div>

        <div class="main__container">
            <header class="main__title">
                <h1>评论管理</h1>
            </header>

            <div class="activity-log">
                <div class="activity-log__block" ng-repeat="item in MsgList">
                    <div class="activity-log__item activity-log__item--listing">
                        <div class="activity-log__date">
                            {{item.Date}}
                        </div>

                        <div class="activity-log__content activity-log__content--listing" ng-repeat="msg in item.Group">
                            <div class="activity-log__time">{{msg.Created_TS.substring(11,19)}}</div>

                            <div class="activity-log__list media">
                                <div class="pull-left">
                                    <img ng-src="{{msg.SenderPhoto}}" class="img-circle" err-src="../img/user_empty.png" width="80" alt="">
                                </div>
                                <div class="media-body activity-log__text">
                                    <a href="">{{msg.Title}}</a>
                                    <small>{{msg.Details}}</small>
                                </div>

                                <div class="activity-log__attrs">
                                    <span>{{msg.Type}}</span>
                                    <span>{{item.Date}}</span>
                                    <span class="hidden-xs">{{msg.Created_TS.substring(11,19)}}</span>
                                    <ul class="detail-amenities__list pull-right">
                                        <li class="mdc-bg-light-blue-500" ng-click="check(msg)">查看</li>
                                        <li class="mdc-bg-deep-orange" ng-click="remove(msg)">删除</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="activity-log__block">
                    <div class="load-more load-more-msg">
                        <a href=""  ng-click="loading()"><i ng-if="loadMore===true" class="zmdi zmdi-refresh-alt"></i> {{loadMore===true?'加载更多':'没有更多了'}}</a>
                    </div>
                </div>

   </section>
</div>