<div ng-controller="UserController" data-ng-init="load()">
	<section id="main__content">
	    <div class="action-header-alt">
	        <div class="action-header__item action-header__item--search">
	            <form>
	                <input type="text" placeholder="Search for contacts..." ng-model="searchWord" ng-change="search()">
	            </form>
	        </div>
	
<!-- 	        <div class="action-header__item action-header__add">
	            <a href="new-contact.html" class="btn btn-danger btn-sm">New Contact</a>
	        </div>
 -->	
	        <div class="action-header__item action-header__item--sort hidden-xs">
	            <span class="action-header__small">Sort by :</span>
	
	            <select ui-select2 ng-model="sortord" class="form-control"  data-placeholder="选择搜索类型" >
	            	<option ng-repeat="item in selectOptions" selected="{{item}}">{{item.title}}</option>
	            </select>
	        </div>
	    </div>
	
	    <div class="main__container">
	        <header class="main__title">
	            <h1>用户列表</h1>
	        </header>
			<!--<md-content layout-padding ng-cloak>-->
				<!--<div layout-gt-xs="row">-->
					<!--<div flex-gt-xs>-->
						<!--<h4>Standard date-picker</h4>-->
						<!--<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>-->
					<!--</div>-->

					<!--<div flex-gt-xs>-->
						<!--<h4>Disabled date-picker</h4>-->
						<!--<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date" disabled></md-datepicker>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div layout-gt-xs="row">-->
					<!--<div flex-gt-xs>-->
						<!--<h4>Opening the calendar when the input is focused</h4>-->
						<!--<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"-->
									   <!--md-open-on-focus></md-datepicker>-->
					<!--</div>-->

					<!--<div flex-gt-xs>-->
						<!--<h4>Date-picker that goes straight to the year view</h4>-->
						<!--<md-datepicker ng-model="ctrl.myDate" md-current-view="year"-->
									   <!--md-placeholder="Enter date"></md-datepicker>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div layout-gt-xs="row">-->
					<!--<div flex-gt-xs>-->
						<!--<h4>Custom calendar trigger</h4>-->
						<!--<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"-->
									   <!--md-is-open="ctrl.isOpen"></md-datepicker>-->
						<!--<md-button class="md-primary md-raised" ng-click="ctrl.isOpen = true">Open</md-button>-->
					<!--</div>-->
				<!--</div>-->
			<!--</md-content>-->
	        <div class="row">
	            <div class="col-md-12">
	                <div class="list-group list-group--block contact-lists">
	                    <div class="list-group__header text-left">
	                        <span>共{{TotalUser}}个用户</span>
	                    </div>
						<div class="list-group__wrap" ng-repeat="item in Users |filter:searchWord">
	                        <a class="list-group-item media" href="#view-contact" ng-click="checkUser(item)" data-toggle="modal">
	                            <div class="pull-left">
	                                <!-- <div class="avatar-char mdc-bg-amber-400">T</div> -->
	                                <img ng-src="{{item.head_portrait}}" err-src="../img/user_empty.png" class="list-group__img img-circle" width="80" height="80" alt="">
	                            </div>
	                            <div class="media-body list-group__text" >
	                               	<div class="row">
	                               		<div class="col col-md-2">
	                               			<i class="fa fa-user" aria-hidden="true"></i>
		                               		<strong>{{item.name}}</strong>
	                               		</div>
	                               		
	                               		<div class="col col-md-3">
	                               			<i class="fa fa-phone-square" aria-hidden="true"></i>
			                               	<strong>{{item.phone}}</strong>
	                               		</div>
	                               		<div class="col col-md-2">
	                               			<i class="fa fa-map-marker" aria-hidden="true"></i>
	                               			<strong>{{item.location}}</strong>
	                               		</div>
	                               	</div><br>
	                               	<div class="row">
	                               		<div class="col col-md-3">
	                               			<i class="fa fa-wechat" aria-hidden="true"></i>
	                               			<strong>{{item.wechat}}</strong>
	                               		</div>
	                               	</div>
	                            </div>
	                           
	                        </a>
	                        <div class="actions list-group__actions">
	                            <div class="dropdown">
	                                <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
	                                <ul class="dropdown-menu pull-right">
	                                	<li><a href="#apply-open-coach" data-toggle="modal" ng-click="showDia">申请开通教练</a></li>
	                                   <!--  <li><a href="#update-to-user" data-toggle="modal" ng-click="editUser(item)">修改</a></li> -->
	                                </ul>
	                            </div>
	                        </div>
	                        <div  class="list-group__date">
	                             <div >
                       				<i class="fa fa-calendar" aria-hidden="true"></i>
                           			<strong>{{item.Created_TS}}</strong>
                               	</div>
	                        </div>
	                        
	                    </div>
	                </div>
	
	                <div class="load-more">
	                    <a href=""><i class="zmdi zmdi-refresh-alt"></i> 加载更多</a>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- Apply Open Coach -->
	<div class="modal fade" id="apply-open-coach" data-backdrop="static">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-body">
	            	
	                <form class="card new-contact" style="margin-bottom: 0px;">
						<div class="new-contact__img">
							<img ng-src="{{applyCoach.HeadPhoto}}" alt="" err-src="../img/user_empty.png"> 
							<!-- <i class="new-contact__upload zmdi zmdi-camera" ngf-select ngf-change="upload($files)"></i> -->
							<i class="new-contact__upload zmdi zmdi-camera"  href="#update-to-head" data-toggle="modal" data-dismiss="modal" ></i>
						</div>

						<div class="card__body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>名字</label> 
										<input type="text" ng-model="applyCoach.UserName" class="form-control">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>性别</label> 
										<select ng-model="applyCoach.Sex" class="form-control" required>
											<option value="男" >男</option>
											<option value="女">女</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>年龄</label> 
										<input type="text" ng-model="applyCoach.Age" class="form-control">
									</div>
									<md-input-container>
							            <label>Enter date</label>
							            <md-datepicker ng-model="applyCoach.Age"></md-datepicker>
						          	</md-input-container>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label>密码</label> <input type="password"
											ng-model="currentStaff.Password" class="form-control">
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label>确认密码</label> <input type="password"
											ng-model="currentStaff.Password2" class="form-control">
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label>手机号码</label> <input type="text"
											ng-model="currentStaff.Phone" class="form-control" maxlength='11'>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label>性别</label> <select ng-model="applyCoach.Sex"
											class="form-control" required>
											<!-- <option value="店员">店员</option> -->
											<option value="管理员">管理员</option>
										</select>
									</div>
								</div>
							</div>

							
						</div>
					</form>
	                
					
	            </div>
	
	            <div class="modal-footer" style="padding: 0 30px 10px;">
					<button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" href="#" 
					 data-toggle="modal"  ng-click="">保存</button>
				</div>
	        </div>
	    </div>
	</div>
	<!-- End modal -->
	
	<!-- View Contact -->
	<div class="modal fade" id="view-contact">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-body text-center">
	                <div class="view-contact__img">
	                    <img ng-src="{{currentItemD.HeadPhoto}}" err-src="../img/user_empty.png"
							class="img-circle" width="150" height="150"  alt="">
	                </div>
	                
					<table class="table table-border table-hover table_wrapp">
						<tr>
							<th>用户名</th>
							<td>{{currentItemD.UserName}}</td>
						</tr>
						<tr>
							<th>性别</th>
							<td>{{currentItemD.Sex}}</td>
						</tr>
						<tr>
							<th>手机号码</th>
							<td>{{currentItemD.PhoneNum}}</td>
						</tr>
						<tr>
							<th>出生日期</th>
							<td>{{currentItemD.Birthday}}</td>
						</tr>
						<tr>
							<th>年龄</th>
							<td>{{currentItemD.Age}}</td>
						</tr>
						<tr>
							<th>差点</th>
							<td>{{currentItemD.Score}}</td>
						</tr>
						<tr>
							<th>所在地</th>
							<td>{{currentItemD.City}}</td>
						</tr>
						<tr>
							<th>个性签名</th>
							<td>{{currentItemD.Signature}}</td>
						</tr>
						<tr>
							<th>自我评述</th>
							<td>{{currentItemD.CustomTag}}</td>
						</tr>
						
						
					</table>
	                <!-- <div class="m-t-25">
	                    <h4>Mallinda Hollaway</h4>
	                    <small>421 Walnut St. Hartford, CT 06106, United States</small>
	                </div>
	
	                <div class="m-t-25">
	                    <small>Email Address</small>
	                    <div class="text-strong m-t-5">mallinda-h@gmail.com</div>
	                </div>
	
	                <div class="m-t-25">
	                    <small>Mobile Phone</small>
	                    <div class="text-strong m-t-5">(203) 991-4171</div>
	                </div>
	
	                <div class="m-t-25">
	                    <small>Home Phone</small>
	                    <div class="text-strong m-t-5">(902) 093-3923</div>
	                </div> -->
	            </div>
	
	            <div class="modal-footer text-center modal-footer--bordered">
	                <button type="button" class="btn btn-link" data-dismiss="modal">关闭</button>
	            </div>
	        </div>
	    </div>
	</div>
	
</div>	