<div ng-controller="ClubDetailController" data-ng-init="load()">
    <section id="main__content">
        <div class="action-header-alt">
            <div class="col col-md-3">
                <!--<a href="" class="top-nav__back reBack" style="top:10px;" ng-click="back()" title="返回"></a>-->
                <a href="" class="top_back_btn" ng-click="back()" title="返回"><i class="zmdi zmdi-long-arrow-left"></i></a>
            </div>

            <div class="col col-md-2 pull-right">
                <button type="submit" class="btn btn-primary" style="float: right;" ng-show="edit" ng-disabled="clubForm.$invalid" ng-click="submitDetailForm(clubForm.$valid)">保存</button>
                <button type="button" class="btn btn" style="float: right;" ng-click="edit=!edit">{{edit?'取消':'编辑'}}</button>
            </div>
        </div>


        <div class="main__container" >
            <header class="main__title">
                <h1 style="font-family: '黑体'">球场明细</h1>
            </header>
            <div class="card">
                <form class="card new-contac ng-pristine ng-valid" style="margin-bottom: 0px;"
                     name="clubForm" novalidate>
                    <!-- <div class="new-contact__img">
                        <img ng-src="{{currentStaff.Head}}" alt="" onerror="this.src='../img/user_empty.png'">
                        <i class="new-contact__upload zmdi zmdi-camera" ngf-select ngf-change="upload($files)"></i>
                        <i class="new-contact__upload zmdi zmdi-camera"  href="#update-to-head" data-toggle="modal" data-dismiss="modal" ></i>
                    </div> -->
                    <!-- Gallery -->
                    <div class="detail-media" style="z-index:0">
                        <div class="tab-content">
                            <!-- 球场图片 -->
                            <div class="tab-pane fade in active light-gallery" id="detail-media-images">
                                <a href="{{photo}}" lightgallery ng-repeat="photo in currentClub.PhotoList">
                                    <img ng-src="{{photo}}" err-src='../img/club/1.jpg' alt="" height="550px">
                                </a>
                            </div>

                            <!-- 球场地图 -->
                            <div class="tab-pane fade light-gallery" lightgallery id="detail-media-floorplan">
                                <a href="../img/examples/rsz_boonegolfclub_map.jpg" >
                                    <img src="../img/examples/rsz_boonegolfclub_map.jpg" alt="球场地图">
                                </a>
                            </div>

                            <!-- 球场所在地 -->
                            <div class="tab-pane fade" id="detail-media-map">
                                <a href="../img/examples/rsz_agiarylocation.jpg">
                                    <img src="../img/examples/rsz_agiarylocation.jpg" alt="球场所在地">
                                </a>
                            </div>
                        </div>

                        <!-- Gallery Icons -->
                        <ul class="detail-media__nav hidden-print">
                            <li class="active"><a href="#detail-media-images" data-toggle="tab"><i class="zmdi zmdi-collection-image"></i></a></li>
                            <li><a href="#detail-media-floorplan" data-toggle="tab"><i class="zmdi zmdi-map"></i></a></li>
                            <li><a href="#detail-media-map" data-toggle="tab"><i class="zmdi zmdi-pin"></i></a></li>
                        </ul>
                    </div>

                    <div class="card__body">
                        <div class="row">
                            <div class="col-sm-4" ng-class="{ 'has-error' : clubForm.ClubName.$invalid && !clubForm.ClubName.$pristine }">
                                <div class="form-group">
                                    <label class="club_label">球场名称<span style="color: red">*</span></label>
                                    <input type="text" name="ClubName" ng-disabled="!edit" ng-model="currentClub.ClubName" class="form-control" required>
                                    <p ng-show="clubForm.ClubName.$invalid && !clubForm.ClubName.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-class="{ 'has-error' : clubForm.Mode.$invalid && !clubForm.Mode.$pristine }">
                                <div class="form-group">
                                    <label class="club_label">球场模式<span style="color: red">*</span></label>
                                    <input type="text" name="Mode" ng-model="currentClub.Mode" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.Mode.$invalid && !clubForm.Mode.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                            <div class="col-sm-2" ng-class="{ 'has-error' : clubForm.TotalHole.$invalid && !clubForm.TotalHole.$pristine }">
                                <div class="form-group">
                                    <label class="club_label">球洞数<span style="color: red">*</span></label>
                                    <input type="text" name="TotalHole" ng-model="currentClub.TotalHole" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.TotalHole.$invalid && !clubForm.TotalHole.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                            <div class="col-sm-2" ng-class="{ 'has-error' : clubForm.TotalStemNum.$invalid && !clubForm.TotalStemNum.$pristine }">
                                <div class="form-group">
                                    <label class="club_label">总杆数<span style="color: red">*</span></label>
                                    <input type="text" name="TotalStemNum" ng-model="currentClub.TotalStemNum" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.TotalStemNum.$invalid && !clubForm.TotalStemNum.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>建立时间<span style="color: red">*</span></label>
                                <div class="input-group" ng-class="{ 'has-error' : clubForm.CreateTime.$invalid && !clubForm.CreateTime.$pristine }">
                                    <input type="text" name="CreateTime" readonly class="form-control" uib-datepicker-popup="{{format}}" ng-model="currentClub.CreateTime" ng-disabled="!edit"
                                           is-open="status.dateOpen" datepicker-options="dateOptions" close-text="关闭" current-text="今天" ng-required="true"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-disabled="!edit" ng-click="IsOpen(1)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    <!--<p ng-show="clubForm.CreateTime.$invalid && !clubForm.CreateTime.$pristine" class="help-block">必填项</p>-->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.PhoneNum.$invalid && !clubForm.PhoneNum.$pristine }">
                                    <label class="club_label">联系电话<span style="color: red">*</span></label>
                                    <input type="text" name="PhoneNum" ng-model="currentClub.PhoneNum" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.PhoneNum.$invalid && !clubForm.PhoneNum.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.Stylist.$invalid && !clubForm.Stylist.$pristine }">
                                    <label class="club_label">设计师<span style="color: red">*</span></label>
                                    <input type="text" name="Stylist" ng-model="currentClub.Stylist" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.Stylist.$invalid && !clubForm.Stylist.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.Square.$invalid && !clubForm.Square.$pristine }">
                                    <label class="club_label">球场面积<span style="color: red">*</span></label>
                                    <input type="text" name="Square" ng-model="currentClub.Square" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.Square.$invalid && !clubForm.Square.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.Length.$invalid && !clubForm.Length.$pristine }">
                                    <label class="club_label">球场长度<span style="color: red">*</span></label>
                                    <input type="text" name="Length" ng-model="currentClub.Length" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.Length.$invalid && !clubForm.Length.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.PuttingSeed.$invalid && !clubForm.PuttingSeed.$pristine }">
                                    <label class="club_label">果岭草种<span style="color: red">*</span></label>
                                    <input type="text" name="PuttingSeed" ng-model="currentClub.PuttingSeed" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.PuttingSeed.$invalid && !clubForm.PuttingSeed.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" ng-class="{ 'has-error' : clubForm.FairwaySeed.$invalid && !clubForm.FairwaySeed.$pristine }">
                                <div class="form-group">
                                    <label class="club_label">球道草种<span style="color: red">*</span></label>
                                    <input type="text" name="FairwaySeed" ng-model="currentClub.FairwaySeed" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.FairwaySeed.$invalid && !clubForm.FairwaySeed.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.ClubAddress.$invalid && !clubForm.ClubAddress.$pristine }">
                                    <label class="club_label">详细地址<span style="color: red">*</span></label>
                                    <input select-address p="p" c="c" a="a" d="d" ng-disabled="!edit" name="ClubAddress"
                                           ng-model="currentClub.Address" placeholder="请选择所在地" type="text" class="form-control" required>
                                    <p ng-show="clubForm.ClubAddress.$invalid && !clubForm.ClubAddress.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="club_label">球场设施</label>
                                    <textarea rows="3" cols="1"  ng-model="currentClub.Facility" class="form-control" ng-disabled="!edit" style="font-size: 16px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="club_label">球场简介</label>
                                    <textarea rows="3" cols="1"  ng-model="currentClub.Intro" class="form-control" ng-disabled="!edit" style="font-size: 16px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card">
                <div class="card__header">
                    <h1>
                        <span class="black">供应商</span>
                    </h1>
                </div>
                <div class="card__body">
                    <div class="row">
                        <div class="col col-md-2">
                            <div class="form-group">
                                <a href="" class="a_btn" ng-click="addServe()">+ 添加供应商</a>
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <div class="form-group">
                                <input type="text" ng-change="getClubServe()" placeholder="搜索供应商" ng-model="serveKeyword" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <uib-accordion close-others="oneAtATime">
                                <div uib-accordion-group class="panel-default" ng-click="cnIndex($index)" ng-repeat="uib in clubServes">
                                    <uib-accordion-heading >
                                        {{uib.Name}}
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-sm4 pull-right" ng-show="edit">
                                            <div class="form-group">
                                                <button class="btn btn-danger pull-right" ng-click="removeClubServe(uib)">删除</button>
                                                <button class="btn btn-info pull-right" ng-click="editServe(uib)">修改</button>
                                            </div>
                                        </div>
                                    </div>

                                    <uib-tabset active="activeJustified" justified="true">
                                        <uib-tab index="$index" ng-repeat="weekday in weekdays track by $index" ng-click="wnIndex($index)" heading="{{weekday}}">
                                            <div class="row">
                                                <div class="col col-sm-4">
                                                    <div class="form-group time_btn">
                                                        <label>上午</label>
                                                        <a href="" ng-class="{active:mTimeIndex === $index}" ng-repeat="mTime in morningTimes"
                                                           ng-click="priceTimeForm.$setPristine();checkTime(mTime,weekday,uib,$index,'m')">{{mTime}}</a>
                                                    </div>
                                                    <div class="form-group time_btn">
                                                        <label>下午</label>
                                                        <a href="" ng-class="{active:aTimeIndex === $index}" ng-repeat="aTime in afternoonTimes"
                                                           ng-click="priceTimeForm.$setPristine();checkTime(aTime,weekday,uib,$index,'a')">{{aTime}}</a>
                                                    </div>
                                                    <div class="form-group time_btn">
                                                        <label>晚上</label>
                                                        <a href="" ng-class="{active:nTimeIndex === $index}" ng-repeat="nTime in nightTimes"
                                                           ng-click="priceTimeForm.$setPristine();checkTime(nTime,weekday,uib,$index,'n')">{{nTime}}</a>
                                                    </div>
                                                </div>
                                                <div class="col col-sm-8">
                                                    <form class="ng-pristine ng-valid" style="margin-bottom: 0px;"
                                                          name="priceTimeForm" ng-submit="priceSubmit(priceTimeForm.$valid)" novalidate>
                                                        <div class="row">
                                                            <div class="col-sm-6" ng-class="{ 'has-error' : priceTimeForm.Time.$invalid && !priceTimeForm.Time.$pristine }">
                                                                <div class="form-group">
                                                                    <label class="club_label">时间段</label>
                                                                    <input type="text" name="Time" ng-model="currentTime.Time" readonly class="form-control" required>
                                                                    <p ng-show="priceTimeForm.Time.$invalid && !priceTimeForm.Time.$pristine" class="help-block">必填项</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6" ng-class="{ 'has-error' : priceTimeForm.DownPayment.$invalid && !priceTimeForm.DownPayment.$pristine
                                                             || priceTimeForm.DownPayment.$error.pattern }">
                                                                <div class="form-group">
                                                                    <label class="club_label">首付
                                                                        <span style="color: red">*</span>&nbsp;&nbsp;(
                                                                        <span><input id="IsDeposit" ng-model="IsDeposit" type="checkbox"/> 需要押金 </span>)
                                                                    </label>
                                                                    <input type="text" name="DownPayment" ng-disabled="!edit" ng-model="currentTime.DownPayment" class="form-control"
                                                                           required ng-pattern="/^([0-9]\d*(\.\d*[0-9])?)|(0\.\d*[1-9])$/">
                                                                    <p ng-show="priceTimeForm.DownPayment.$error.pattern || (priceTimeForm.DownPayment.$invalid && !priceTimeForm.DownPayment.$pristine)"
                                                                       class="help-block">{{priceTimeForm.DownPayment.$error.pattern?'输入正确的数值':'必填项'}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6" ng-class="{ 'has-error' : priceTimeForm.OtherPrice.$invalid && !priceTimeForm.OtherPrice.$pristine
                                                            || priceTimeForm.OtherPrice.$error.pattern}">
                                                                <div class="form-group">
                                                                    <label class="club_label">其他费用<span style="color: red">*</span></label>
                                                                    <input type="text" name="OtherPrice" ng-disabled="!edit" ng-model="currentTime.OtherPrice" class="form-control"
                                                                           required ng-pattern="/^([0-9]\d*(\.\d*[0-9])?)|(0\.\d*[1-9])$/">
                                                                    <p ng-show="priceTimeForm.OtherPrice.$error.pattern || (priceTimeForm.OtherPrice.$invalid && !priceTimeForm.OtherPrice.$pristine)"
                                                                       class="help-block">{{priceTimeForm.OtherPrice.$error.pattern?'输入正确的数值':'必填项'}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6" ng-class="{ 'has-error' : priceTimeForm.Type.$invalid && !priceTimeForm.Type.$pristine }">
                                                                <div class="form-group">
                                                                    <label class="club_label">支付方式<span style="color: red">*</span></label>
                                                                    <select ng-model="currentTime.Type" ng-disabled="!edit" name="Type" class="form-control"
                                                                            ng-options="pay.value as pay.key for pay in Payment" required></select>
                                                                    <p ng-show="priceTimeForm.Type.$invalid && !priceTimeForm.Type.$pristine" class="help-block">必填项</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>是否优惠时段</label>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <input type="radio" name="IsPrivilege" ng-model="currentTime.IsPrivilege" value="1">是
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="radio" name="IsPrivilege" ng-model="currentTime.IsPrivilege" value="0">不是
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" ng-show="priceTimeForm.$dirty">
                                                            <div class="col-sm-6">
                                                                <button type="submit" class="btn btn-primary  pull-right" ng-disabled="priceTimeForm.$invalid">提交</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="7" heading="其他">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <p class="input-group">
                                                            <input type="text" readonly class="form-control" uib-datepicker-popup="{{format}}" ng-model="DateTime" ng-disabled="!edit"
                                                                   is-open="status.dateTimeOpen" datepicker-options="options" close-text="关闭" ng-change="checkDT()" current-text="今天" ng-required="true"/>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-disabled="!edit" ng-click="IsOpen(2)">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group time_btn">
                                                        <label>上午</label>
                                                        <a href="" ng-class="{active:mTimeIndex === $index}" ng-repeat="mTime in morningTimes"
                                                           ng-click="">{{mTime}}</a>
                                                    </div>
                                                    <div class="form-group time_btn">
                                                        <label>下午</label>
                                                        <a href="" ng-class="{active:aTimeIndex === $index}" ng-repeat="aTime in afternoonTimes"
                                                           ng-click="">{{aTime}}</a>
                                                    </div>
                                                    <div class="form-group time_btn">
                                                        <label>晚上</label>
                                                        <a href="" ng-class="{active:nTimeIndex === $index}" ng-repeat="nTime in nightTimes"
                                                           ng-click="">{{nTime}}</a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <form class="ng-pristine ng-valid" style="margin-bottom: 0px;"
                                                          name="priceTimeForm" ng-submit="priceSubmit(priceTimeForm.$valid)" novalidate>
                                                        <div class="row">
                                                            <div class="col-sm-12" ng-class="{ 'has-error' : priceTimeForm.Time.$invalid && !priceTimeForm.Time.$pristine }">
                                                                <div class="form-group">
                                                                    <label class="club_label">时间段</label>
                                                                    <input type="text" name="Time" ng-model="currentTime.Time" readonly class="form-control" required>
                                                                    <p ng-show="priceTimeForm.Time.$invalid && !priceTimeForm.Time.$pristine" class="help-block">必填项</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12" ng-class="{ 'has-error' : priceTimeForm.DownPayment.$invalid && !priceTimeForm.DownPayment.$pristine
                                                             || priceTimeForm.DownPayment.$error.pattern }">
                                                                <div class="form-group">
                                                                    <label class="club_label">首付
                                                                        <span style="color: red">*</span>&nbsp;&nbsp;
                                                                        <!--(<span><input id="IsDeposit" ng-model="IsDeposit" type="checkbox"/> 需要押金 </span>)-->
                                                                    </label>
                                                                    <input type="text" name="DownPayment" ng-disabled="!edit" ng-model="currentTime.DownPayment" class="form-control"
                                                                           required ng-pattern="/^([0-9]\d*(\.\d*[0-9])?)|(0\.\d*[1-9])$/">
                                                                    <p ng-show="priceTimeForm.DownPayment.$error.pattern || (priceTimeForm.DownPayment.$invalid && !priceTimeForm.DownPayment.$pristine)"
                                                                       class="help-block">{{priceTimeForm.DownPayment.$error.pattern?'输入正确的数值':'必填项'}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12" ng-class="{ 'has-error' : priceTimeForm.OtherPrice.$invalid && !priceTimeForm.OtherPrice.$pristine
                                                            || priceTimeForm.OtherPrice.$error.pattern}">
                                                                <div class="form-group">
                                                                    <label class="club_label">其他费用<span style="color: red">*</span></label>
                                                                    <input type="text" name="OtherPrice" ng-disabled="!edit" ng-model="currentTime.OtherPrice" class="form-control"
                                                                           required ng-pattern="/^([0-9]\d*(\.\d*[0-9])?)|(0\.\d*[1-9])$/">
                                                                    <p ng-show="priceTimeForm.OtherPrice.$error.pattern || (priceTimeForm.OtherPrice.$invalid && !priceTimeForm.OtherPrice.$pristine)"
                                                                       class="help-block">{{priceTimeForm.OtherPrice.$error.pattern?'输入正确的数值':'必填项'}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12" ng-class="{ 'has-error' : priceTimeForm.Type.$invalid && !priceTimeForm.Type.$pristine }">
                                                                <div class="form-group">
                                                                    <label class="club_label">支付方式<span style="color: red">*</span></label>
                                                                    <select ng-model="currentTime.Type" ng-disabled="!edit" name="Type" class="form-control"
                                                                            ng-options="pay.value as pay.key for pay in Payment" required></select>
                                                                    <p ng-show="priceTimeForm.Type.$invalid && !priceTimeForm.Type.$pristine" class="help-block">必填项</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label>是否优惠时段</label>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <input type="radio" name="IsPrivilege" ng-model="currentTime.IsPrivilege" value="1">是
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="radio" name="IsPrivilege" ng-model="currentTime.IsPrivilege" value="0">不是
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" ng-show="priceTimeForm.$dirty">
                                                            <div class="col-sm-6">
                                                                <button type="submit" class="btn btn-primary  pull-right" ng-disabled="priceTimeForm.$invalid">提交</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>

                                </div>
                            </uib-accordion>
                        </div>
                        <div class="col col-md-12 text-center">
                            <ul uib-pagination boundary-links="true" total-items="totalItems" max-size="pageConfig.maxSize"
                                ng-model="pageConfig.currentPage" ng-show="totalItems>5" ng-change="getClubServe()"
                                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">

                <div class="card__header">
                    <h1><span class="black">球道详情</span></h1>
                   <br/><br/>
             <div class="site">
                        <div class="col-sm-4" style="width:100px">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.SiteNameOne.$invalid && !clubForm.SiteNameOne.$pristine }">
                                   <label class="club_label">场地名<span style="color: red">*</span></label>
                                    <input type="text" name="SiteNameOne" style="width:70px" ng-model="currentClub.SiteNameOne" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.SiteNameOne.$invalid && !clubForm.SiteNameOne.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                            <div class="col-sm-4" style="width:250px">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.OutCourseOne.$invalid && !clubForm.OutCourseOne.$pristine }">
                                   <label class="club_label">前九洞标准杆数，1-9用"，"隔开<span style="color: red">*</span></label>
                                    <input type="text" name="OutCourseOne" style="width:220px" ng-model="currentClub.OutCourseOne" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.OutCourseOne.$invalid && !clubForm.OutCourseOne.$pristine" class="help-block">必填项</p>
                                </div>
                            </div> 
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.InCourseOne.$invalid && !clubForm.InCourseOne.$pristine }">
                                   <label class="club_label">后九洞标准杆数，1-9用"，"隔开<span style="color: red">*</span></label>
                                    <input type="text" name="InCourseOne" style="width:220px" ng-model="currentClub.InCourseOne" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.InCourseOne.$invalid && !clubForm.InCourseOne.$pristine" class="help-block">必填项</p>
                                </div>
                            </div><br/><br/><br/><br/><br/>
                           <div class="col-sm-4" style="width:100px">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.SiteNameTwo.$invalid && !clubForm.SiteNameTwo.$pristine }">
                                   <label class="club_label">场地名<span style="color: red">*</span></label>
                                    <input type="text" name="SiteNameTwo" style="width:70px" ng-model="currentClub.SiteNameTwo" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.SiteNameTwo.$invalid && !clubForm.SiteNameTwo.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                            <div class="col-sm-4" style="width:250px">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.OutCourseTwo.$invalid && !clubForm.OutCourseTwo.$pristine }">
                                   <label class="club_label">前九洞标准杆数，1-9用"，"隔开<span style="color: red">*</span></label>
                                    <input type="text" name="OutCourseTwo" style="width:220px" ng-model="currentClub.OutCourseTwo" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.OutCourseTwo.$invalid && !clubForm.OutCourseTwo.$pristine" class="help-block">必填项</p>
                                </div>
                            </div> 
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.InCourseTwo.$invalid && !clubForm.InCourseTwo.$pristine }">
                                   <label class="club_label">后九洞标准杆数，1-9用"，"隔开<span style="color: red">*</span></label>
                                    <input type="text" name="InCourseTwo" style="width:220px" ng-model="currentClub.InCourseTwo" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.InCourseTwo.$invalid && !clubForm.InCourseTwo.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                             </div><br/><br/><br/><br/><br/>
                           <div class="col-sm-4" style="width:100px">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.SiteNameThree.$invalid && !clubForm.SiteNameThree.$pristine }">
                                   <label class="club_label">场地名<span style="color: red">*</span></label>
                                    <input type="text" name="SiteNameThree" style="width:70px" ng-model="currentClub.SiteNameThree" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.SiteNameThree.$invalid && !clubForm.SiteNameThree.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                            <div class="col-sm-4" style="width:250px">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.OutCourseThree.$invalid && !clubForm.OutCourseThree.$pristine }">
                                   <label class="club_label">前九洞标准杆数，1-9用"，"隔开<span style="color: red">*</span></label>
                                    <input type="text" name="OutCourseThree" style="width:220px" ng-model="currentClub.OutCourseThree" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.OutCourseThree.$invalid && !clubForm.OutCourseThree.$pristine" class="help-block">必填项</p>
                                </div>
                            </div> 
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : clubForm.InCourseThree.$invalid && !clubForm.InCourseThree.$pristine }">
                                   <label class="club_label">后九洞标准杆数，1-9用"，"隔开<span style="color: red">*</span></label>
                                    <input type="text" name="InCourseThree" style="width:220px" ng-model="currentClub.InCourseThree" ng-disabled="!edit" class="form-control" required>
                                    <p ng-show="clubForm.InCourseThree.$invalid && !clubForm.InCourseThree.$pristine" class="help-block">必填项</p>
                                </div>
                            </div>
                    </div>
                    
                </div>
               
            </div>

        </div>
    </section>

    <div class="modal fade" id="addClubServe" data-backdrop="static"
         data-keyboard="false" style="font-family: '黑体'; color: #000;">
        <div class="modal-dialog" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">增改供应商</h4>
                </div>
                <form class="new-contact ng-pristine ng-valid" name="serveForm" ng-submit="submitServeForm(serveForm.$valid)" novalidate>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : serveForm.Name.$invalid && !serveForm.Name.$pristine }">
                            <label>供应商名称</label>
                            <input type="text" name="Name" class="form-control" ng-model="clubServe.Name" required>
                            <p ng-show="serveForm.Name.$invalid && !serveForm.Name.$pristine" class="help-block">必填项</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : serveForm.MaxDay.$invalid && !serveForm.MaxDay.$pristine }">
                            <label>日数上限</label>
                            <input type="text" name="MaxDay" class="form-control" ng-model="clubServe.MaxDay" required>
                            <p ng-show="serveForm.MaxDay.$invalid && !serveForm.MaxDay.$pristine" class="help-block">必填项</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : serveForm.ServiceExplain.$invalid && !serveForm.ServiceExplain.$pristine }">
                            <label>服务包含</label>
                            <textarea type="text" rows="1" cols="1" name="ServiceExplain" class="form-control" placeholder="例如:18洞果岭/僮/车/柜" ng-model="clubServe.ServiceExplain" required></textarea>
                            <p ng-show="serveForm.ServiceExplain.$invalid && !serveForm.ServiceExplain.$pristine" class="help-block">必填项</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : serveForm.ReserveExplain.$invalid && !serveForm.ReserveExplain.$pristine }">
                            <label>预订说明</label>
                            <textarea type="text" rows="3" cols="1" name="ReserveExplain" placeholder="例如:提前一天预订，无单车差..." class="form-control" ng-model="clubServe.ReserveExplain" required></textarea>
                            <p ng-show="serveForm.ReserveExplain.$invalid && !serveForm.ReserveExplain.$pristine" class="help-block">必填项</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : serveForm.CancelExplain.$invalid && !serveForm.CancelExplain.$pristine }">
                            <label>取消订单说明</label>
                            <textarea type="text" rows="3" cols="1" name="CancelExplain" placeholder="例如:提前一天取消或变更" class="form-control" ng-model="clubServe.CancelExplain" required></textarea>
                            <p ng-show="serveForm.CancelExplain.$invalid && !serveForm.CancelExplain.$pristine" class="help-block">必填项</p>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding: 0 30px 10px;">
                        <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="serveForm.$invalid" ng-click="serveForm.$setPristine()">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>