<div ng-controller="UserMsgController" data-ng-init="load()">
    <section id="main__content">
        <div class="action-header-alt">
            <div class="action-header__item action-header__item--search">
                <form>
                    <input type="text" ng-model="keyword" placeholder="搜索相关内容" ng-change="searchChange()">
                </form>
            </div>
            <div class="action-header__item action-header__add">
                <a href="#new-message" data-toggle="modal" class="btn btn-danger btn-sm" ng-click="addMsg()">新增消息</a>
            </div>
            <div class="action-header__item action-header__item--sort hidden-xs">
                <span class="action-header__small">Sort by : </span>
                <select ui-select2="filterDaySelect" ng-model="filterDay" class="form-control" ng-change="searchChange()"
                        ng-options="day.value as day.key for day in filterDays"></select>
            </div>

        </div>

        <div class="main__container">
            <header class="main__title">
                <h1>用户消息</h1>
            </header>

            <div class="activity-log">
                <div class="activity-log__block" ng-repeat="item in MsgList">
                    <div class="activity-log__item activity-log__item--listing">
                        <div class="activity-log__date">
                            {{item.Date}}
                        </div>

                        <div class="activity-log__content activity-log__content--listing" ng-repeat="msg in item.Group">
                            <div class="activity-log__time">{{msg.Created_TS.substring(11,19)}}</div>

                            <div class="activity-log__list media">
                                <div class="pull-left">
                                    <img ng-src="{{msg.SenderPhoto}}" class="img-circle" err-src="../img/user_empty.png" width="80" alt="">
                                </div>
                                <div class="media-body activity-log__text">
                                    <a href="">{{msg.Title}}</a>
                                    <small>{{msg.Details}}</small>
                                </div>

                                <div class="activity-log__attrs">
                                    <span>{{msg.Type}}</span>
                                    <span>{{item.Date}}</span>
                                    <span class="hidden-xs">{{msg.Created_TS.substring(11,19)}}</span>
                                    <!--<span class="activity-log__added pull-right">
                                        <a href="" ng-click="check(msg)">查看</a></span>-->
                                    <ul class="detail-amenities__list pull-right">
                                        <li class="mdc-bg-light-blue-500" ng-click="check(msg)">查看</li>
                                        <li class="mdc-bg-deep-orange" ng-click="remove(msg)">删除</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="activity-log__block">
                    <div class="load-more load-more-msg">
                        <a href=""  ng-click="loading()"><i ng-if="loadMore===true" class="zmdi zmdi-refresh-alt"></i> {{loadMore===true?'加载更多':'没有更多了'}}</a>
                    </div>
                </div>
                <!--<div class="side-tool">
                    <a href="#" ng-click="scrollTo()" tooltips tooltip-side="left" tooltip-template="回到顶部"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
                </div>-->
            </div>
        </div>
    </section>
    <div class="modal fade note-view" id="new-message" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="width: 350px">
            <div class="modal-content">
                <div class="article_title">
                    <input type="text" class="form-control article_title_input" ng-model="currentMsg.Title"  placeholder="消息标题">
                </div>
                <form class="card" style="margin-bottom: 0px;">
                    <div class="card__body">
                        <div class="row">

                            <!-- <div class="col-sm-12">
                                 <div class="form-group">
                                     <label>封面路径</label>
                                     <input type="text" ng-model="currentArticle.Cover" class="form-control">
                                 </div>
                             </div>
 -->
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>消息内容</label>
                                    <textarea rows="5" cols="" class="form-control" ng-model="currentMsg.Details"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="modal-footer modal-footer--bordered">
                    <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info" ng-click="saveMsg()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>