<div ng-controller="UserMsgController" data-ng-init="load()">
    <div page-loader is-loading="true"></div>
    <section id="main__content">
        <div class="action-header-alt">
            <div class="action-header__item action-header__item--search">
                <form>
                    <input type="text" ng-model="$parent.keyword" placeholder="搜索相关内容" ng-change="searchChange();changeConfig(1)">
                </form>
            </div>
            <div class="action-header__item action-header__add">
                <a href="#new-message" data-toggle="modal" class="btn btn-danger btn-sm" ng-click="addMsg()">新增消息</a>
            </div>
            <div class="action-header__item action-header__item--sort hidden-xs">
                <span class="action-header__small">筛选 : </span>
                <select ui-select2="filterDaySelect" ng-model="$parent.filterDay" class="form-control" ng-change="searchChange();changeConfig(3)"
                        ng-options="day.value as day.key for day in $parent.filterDays"></select>
            </div>

        </div>

        <div class="main__container">
            <header class="main__title">
                <h1>用户消息</h1>
            </header>

            <div class="activity-log">
                <div class="activity-log__block" ng-repeat="item in MsgList">
                    <div class="activity-log__item activity-log__item--listing">
                        <div class="activity-log__date">
                            {{item.Date}}
                        </div>

                        <div class="activity-log__content activity-log__content--listing" ng-repeat="msg in item.Group">
                            <div class="activity-log__time">{{msg.Created_TS.substring(11,19)}}</div>

                            <div class="activity-log__list media">
                                <div class="pull-left">
                                    <img ng-src="{{msg.SenderPhoto}}" class="img-circle" err-src="../img/user_empty.png" width="80" alt="">
                                </div>
                                <div class="media-body activity-log__text">
                                    <a href="">{{msg.SenderName}}</a>
                                    <small style="font-size: 16px">{{msg.Details}}</small>
                                    <div class="row">
                                        <div class="col-sm-9" ng-if="msg.PhotoList.length == 1">
                                            <a href="{{photo}}" lightgallery ng-repeat="photo in msg.PhotoList">
                                                <img ng-src="{{photo}}" err-src='../img/club/1.jpg' alt="" height="120px">
                                            </a>
                                        </div>
                                        <div class="col-sm-6" ng-if="msg.PhotoList.length == 4">
                                            <a href="{{photo}}" lightgallery ng-repeat="photo in msg.PhotoList">
                                                <img ng-src="{{photo}}" err-src='../img/club/1.jpg' alt="" height="65px" width="65px">
                                            </a>
                                        </div>
                                        <div class="col-sm-9" ng-if="msg.PhotoList.length > 1 && msg.PhotoList.length != 4">
                                            <a href="{{photo}}" lightgallery ng-repeat="photo in msg.PhotoList">
                                                <img ng-src="{{photo}}" err-src='../img/club/1.jpg' alt="" height="65px" width="65px">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="activity-log__attrs">
                                    <span ng-if="msg.Type=='dynamic'">动态</span>
                                    <span ng-if="msg.Type=='invited'">约球</span>
                                    <span class="activity-log__like"><a href="" ng-click="liked(msg,$index,$parent.$index)"><i class="fa fa-heart" aria-hidden="true"></i></a>&nbsp{{msg.likeData.count}}</span>
                                    <span class="activity-log__added"><i class="fa fa-commenting" aria-hidden="true"></i>&nbsp{{msg.commentData.count}}</span>
                                    <span class="hidden-xs">{{CurrentDT(msg.Created_TS)}}</span>
                                    <ul class="detail-amenities__list pull-right">
                                        <li class="mdc-bg-light-blue-500" ng-click="check(msg)">查看</li>
                                        <!--<li class="mdc-bg-deep-orange" ng-click="remove(msg)">删除</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="activity-log__block">
                    <div class="load-more load-more-msg">
                        <a href=""  ng-click="loading();changeConfig(2)"><i ng-if="loadMore===true" class="zmdi zmdi-refresh-alt"></i> {{loadMore===true?'加载更多':'没有更多了'}}</a>
                    </div>
                </div>
                <!--<div class="side-tool">
                    <a href="#" ng-click="scrollTo()" tooltips tooltip-side="left" tooltip-template="回到顶部"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
                </div>-->
            </div>
        </div>
    </section>
    <div class="modal fade note-view" id="new-message" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="width: 350px">
            <div class="modal-content">
                <div class="article_title">
                    <input type="text" class="form-control article_title_input" ng-model="currentMsg.Title"  placeholder="消息标题">
                </div>
                <form class="card" style="margin-bottom: 0px;">
                    <div class="card__body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>消息内容</label>
                                    <textarea rows="5" cols="" class="form-control" ng-model="currentMsg.Details"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div uib-carousel active="active" interval="myInterval" no-pause="pause" no-wrap="noWrapSlides">
                                    <div uib-slide ng-repeat="slide in currentMsg.PhotoList track by $index" index="$index">
                                        <a href="">
                                            <img ng-src="{{slide}}" err-src="../img/select_cover.jpg"  height="200px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <a href="" ng-dblclick="deleteImg($index)" ng-repeat="image in currentMsg.PhotoList"
                                   tooltips tooltip-side="top" tooltip-template="双击删除" >
                                    <img ng-src="{{image}}" err-src="../img/user_empty.png" width="50px" height="50px">
                                </a>
                                <a href="" ngf-select ngf-change="upload($files)" ng-show="currentMsg.PhotoList.length<9||!currentMsg.PhotoList"
                                   tooltips tooltip-side="top" tooltip-template="添加图片">
                                    <img src="../img/plus.png" width="50px" height="50px" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="modal-footer modal-footer--bordered">
                    <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info" ng-click="saveMsg()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>